.title {
    font-size: 160px;
    color: #FFF;
    font-family: 'Cairo', sans-serif;
    margin-bottom: -40px;
    margin-top: -15px;
}

.subtitle {
    font-size: 90px;
    color: #f6be00;
    font-family: 'Cairo', sans-serif;
    margin-top: -90px;
    margin-bottom: 15px;
}

.generator {
    margin-top: -20px;
}

.sociais {
    display: flex;
    margin-left: 630px;
    margin-top: 25px;
    gap: 15px;
}

.middle {
    text-align: center;
    margin-top: 55px;

}

@media (max-width: 1050px) {

    .middle h1 {
        font-size: 100px;
        margin-bottom: 15px;
    }

    .middle h2 {
        font-size: 60px;
    }

    .sociais {
        margin-left: 470px;
    }
}

@media (max-width: 440px) {

    .middle h1 {
        font-size: 70px;
        margin-bottom: 40px;
    }

    .middle h2 {
        font-size: 40px;
    }

    .sociais {
        margin-left: 160px;
    }

}