.container {
    background-image: url('../../Assets/come2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 570px;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-size: 50px;
    color: #FFF;
    margin-bottom: 45px;
    margin-top: -55px;
    font-weight: 100;
}

.verse {
    color: #fff;
    text-align: center;
    width: 700px;
    font-family: 'Cairo', sans-serif;
    font-size: 30px;
    line-height: 35px;
}

.reference {
    color: #F6BE00;
    text-align: center;
    width: 900px;
    margin-top: -15px;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.sociais {
    display: flex;
    margin-left: 1110px;

}

.insta {
    margin-bottom: -190px;
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    opacity: 0.1;
    font-weight: 100;
}

.insta:hover {
    opacity: 0.8;
    color: #F6BE00;
}

.generator {
    background-color: #03403f;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    font-family: 'Cairo', sans-serif;
    cursor: pointer;
}

.icon {
    margin-left: 25px;
    margin-top: 15px;
    margin-bottom: -50px;
}

@media (max-width: 1050px) {

    .container h1 {
        font-size: 30px;
        margin-bottom: 10px;

    }

    .container h2 {
        font-size: 20px;
    }

    .container h3 {
        font-size: 20px;
    }
}

@media (max-width: 710px) {


    .container h2 {
        width: 500px;
    }

}