body {
  margin: 0;
  font-family: 'Cairo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./Assets/come.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 597px;
}

code {
  font-family: 'Cairo',
    monospace;
}