body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
  background-image: url('./Assets/come2.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 100vh;

}

code {
  font-family: 'Cairo',
    monospace;
}